<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>
<body class="d-flex flex-column vh-100">
    <header th:replace="~{fragments/headeradmin::cabezaadmin}"></header>
    <main class="flex-grow-1" style="margin-top: 56px;">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h3 class="mt-5 text-center">ARMAS A MELEE</h3>
                    <div class="text-center">
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ProductoModal">
							<i class="bi bi-bag-plus-fill"></i> Agregar Producto
						</button>
                    </div>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
                        <div th:each="producto : ${productos}" class="col-md-3">
                            <div class="card my-3 bg-light bg-light">
                                <a th:href="${'/producto/'+producto.id}">
                                    <img th:src="@{${producto.imagen}}" class="card-img-top img-fluid" alt="juego-dos">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${producto.nombre}"></h5>
                                    <p class="precio" th:text="${#numbers.formatDecimal(producto.precio, 001, 2)} + '€'"></p>
									<div class="btn-group" role="group">
                                        <form th:action="@{/admin/eliminarProducto/{id}(id=${producto.id})}" method="post">
                                            <input type="hidden" name="_method" value="POST" />
                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </form>
										<form th:action="@{/admin/editarProducto/{id}(id=${producto.id})}" method="post">
                                            <input type="hidden" name="_method" value="POST" />
                                            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ProductoModal">Editar</button>
                                        </form>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                	</div>
                <div class="col-md-3">
                    <!-- Aside para filtrado -->
                    <aside>
                        <div class="container">
                            <h5>Filtrar:</h5>
                            <form>
                                <div class="mb-3">
                                    <label for="orden">Ordenar por:</label>
                                    <select class="form-select" id="orden">
                                        <option value="nombre_asc">Nombre A-Z</option>
                                        <option value="precio_bajo">Precio más bajo primero</option>
                                        <option value="precio_alto">Precio más alto primero</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="rango">Filtrar por precio:</label>
                                    <input type="range" class="form-range" id="rango" value="0" min="0" max="400" step="1">
                                    <span id="valor_rango">0</span>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary">Aplicar filtro</button>
                                </div>
                            </form>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer::pie}"></footer>

    <!-- Modal para agregar producto -->
    <div class="modal fade" id="ProductoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Nuevo Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                <form th:action="@{/admin/guardarProducto}" method="post" th:object="${producto}">
                    <div class="mb-3">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" placeholder="Ingrese el nombre del producto">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion">Descripción:</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" th:field="*{descripcion}" rows="3" placeholder="Ingrese una descripción del producto"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="stock">Stock:</label>
                        <input type="number" class="form-control" id="stock" name="stock" th:field="*{stock}" placeholder="Ingrese el stock disponible">
                    </div>
                    <div class="mb-3">
                        <label for="precio">Precio:</label>
                        <input type="text" class="form-control" id="precio" name="precio" th:field="*{precio}" placeholder="Ingrese el precio del producto">
                    </div>
                    <div class="mb-3">
                        <label for="imagen">Imagen (URL):</label>
                        <input type="text" class="form-control" id="imagen" name="imagen" th:field="*{imagen}" placeholder="Ingrese la URL de la imagen">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Agregar Producto</button>
                    </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let rango = document.getElementById('rango');
    let valorSpan = document.getElementById('valor_rango');

    function actualizarValor() {
        valorSpan.textContent = rango.value;
    }
    rango.addEventListener('input', actualizarValor);
    actualizarValor();
</script>
</html>
