<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>
<body class="d-flex flex-column vh-100">
    <header th:replace="~{fragments/headeradmin::cabezaadmin}"></header>

    <main class="flex-grow-1" style="margin-top: 56px;">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="container">
                    <h3 class="mt-5 text-center">Aplicar Descuento</h3>
                    <form th:action="@{/admin/descuento/submit}" th:object="${productoEdit}" method="post">
                        <input th:if="${productoEdit.id != 0}" type="hidden" name="id" th:field="*{id}" />
                        <div class="mb-3">
                            <label for="precio" class="form-label">Porcentaje de descuento:</label>
                            <input type="number" class="form-control" id="precio"name="descuento" placeholder="Ingrese el porcentaje de descuento que desea aplicar" step="0.01" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Aplicar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </main>

    <footer th:replace="~{fragments/footer::pie}"></footer>
</body>
</html>
